.navbar{
    display: flex;
    background-color: grey;
}
.nav{
    display: flex;
}
.addStaff{
    display: none;
}
.deleteStaff{
    display: none;
}
.active{
    display: block;
}
.containStaff{
    margin: 2%;
    background-color: red;    
}
